
.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 380px;
    padding: 1.75rem;
    // background-color: lightgoldenrodyellow;
    outline: 0.5px solid gold;

    h2 {
        margin: 10px 0;
    }
}